#suman {
    width: 200px;
    background-color: lightblue;
}

#progress_bar{
    width: 0;
    height: 30px;
    background-color: green;
    text-align: center;
    line-height: 30px;
    color: black;
}

.button{
    display: inline-block;;
    border-radius: 4px;
    background-color: aquamarine;
    border:none;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
}